.elevatedSprite {
  position: relative;
}

.bodyContainer {
  position: absolute;
  left: 0;
  top: 0;
  animation: float forwards 1700ms ease-in-out infinite;
  animation-timing-function: linear;
}

@keyframes float {
  0% {
    transform: translateY(-5px);
  }
  /* desce */

  50% {
    transform: translateY(-2px);
  }

  /* sobe */

  100% {
    transform: translateY(-5px);
  }
}
